// Default variables
html {
	--base-font-size: 16px;
	--scrollPos: 0;
}

// Light default theme
body {
 	--bg-color: #F3F7F9;
 	--bg-content-color: #fff;
 	--bg-code: #fffbf3;
 	--body-color: #111;
 	--title-color: #111;
 	--link-color: #6b17e6;
 	--border-color:  rgba(0,0,0,.1);;
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
	--radius: 5px;
	--rainbow-pink: #c724b1;
	--rainbow-red: #e4002b;
	--rainbow-orange: #ff6900;
	--rainbow-yellow: #f6be00;
	--rainbow-green: #97d700;
	--rainbow-aqua: #00ab84;
	--rainbow-blue: #00a3e0;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}


// Override variables for Dark theme
body[data-theme="dark"] {
 	--bg-color: #181818;
 	--bg-content-color: #111;
 	--bg-code: rgba(0,0,0,.3);
 	--border-color:  rgba(255,255,255,.1);;
 	--body-color: #fff;
 	--title-color: #fff;
	--link-color: #af9cef;
}

@keyframes load-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes rainbow-one {
	0% {fill: var(--rainbow-aqua)}
	20% {fill: var(--rainbow-blue)}
	40% {fill: var(--rainbow-pink)}
	60% {fill: var(--rainbow-red)}
	80% {fill: var(--rainbow-orange)}
	100% {fill: var(--rainbow-yellow)}
}
@keyframes rainbow-two {
	0% {fill: var(--rainbow-blue)}
	20% {fill: var(--rainbow-pink)}
	40% {fill: var(--rainbow-red)}
	60% {fill: var(--rainbow-orange)}
	80% {fill: var(--rainbow-yellow)}
	100% {fill: var(--rainbow-green)}
}
@keyframes rainbow-three {
	0% {fill: var(--rainbow-pink)}
	20% {fill: var(--rainbow-red)}
	40% {fill: var(--rainbow-orange)}
	60% {fill: var(--rainbow-yellow)}
	80% {fill: var(--rainbow-green)}
	100% {fill: var(--rainbow-aqua)}
}